html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	background-color: #6DB1A5;
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}

h2 {
	font-weight: 300;
	font-size: 24pt;
	margin: 0px;
}

/* HEADER */
#header, #admin-header {
	height: 100px;
	position: relative;
}

#header {
	background-color: #FFFFFF;
}

#admin-header {
	background-color: #4A514B;
	color: #FFFFFF;
}

#header-logo {
	line-height: 100px;
	margin: 0px;
	font-size: 30pt;
	position: absolute;
	left: 40px;
}

#header-login-link {
	line-height: 100px;
	position: absolute;
	right: 40px;
}

#header-login-link a {
	color: #4A514B;
	text-decoration: none;
}

/* CONTENT */
#content {
	max-width: 700px;
	margin: 50px auto;
	padding: 0px 20px;
}

#content h2 {
	color: #FFFFFF;
}

/* FORMS */
.form-item {
	margin-top: 20px;
}

.form-field {
	height: 30px;
	width: 350px;
	max-width: 100%;
	font-size: 18pt;
	border-radius: 5px;
}

.form-error {
	color: #FFFFFF;
}

.arrow-button {
	height: 34px;
	width: 43px;
	vertical-align: top;
	margin-left: 10px;
	background: url(img/arrow.png) transparent;
	border: none;
	cursor: pointer;
}

#footer, #admin-footer {
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 100%;
}

/* FOOTER */
#footer {
	background-color: #4A514B;
}

#admin-footer {
	background-color: #FFFFFF;
}